@include keyframes(dropdown){
	from{
		@include transform(translateY(-75px) translateZ(0));
	}
	to{
		@include transform(translateY(0) translateZ(0));
	}
}

@include keyframes(dropup){
	from{
		@include transform(translateY(0) translateZ(0));
	}
	to{
		@include transform(translateY(-55px) translateZ(0));
	}
}

@include keyframes(dropdownsmall){
	from{
		@include transform(translateY(-15px) translateZ(0));
	}
	to{
		@include transform(translateY(0) translateZ(0));
	}
}

@include keyframes(dropupsmall){
	from{
		@include transform(translateY(0) translateZ(0));
	}
	to{
		@include transform(translateY(-75px) translateZ(0));
	}
}



.about-wrapper{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	overflow-y: scroll;
	background: $pink;
	cursor: none;
}

.exit{
	width: 40px;
	display: inline-block;
	border: 5px solid black;
	margin: 0;
	padding: 0;
	line-height: 1;
	height: 40px;
	top: 10px;
	left: 20px;
	z-index: 8;
	position: fixed;
	@include transform(translate3d(0,0,0));
	@include box-sizing(border-box);
	background: url(../images/close2.svg) no-repeat center center;
	background-size: 120%;
	@include transition(all .1s linear);
	@include animation(dropdown .5s ease);
	&:hover{
		@include transform(scale(1.1));
	}
	&.remove-anim{
		@include animation(dropup .5s ease);
	}
}

.top-bar{
	position: fixed;
	@include transform(translate3d(0,0,0));
	top: 0;
	left: 0;
	width: 100%;
	height: 13px;
	background: $pink;
	z-index: 2;
}

.about-section{
	width: 100%;
	height: auto;
	margin: 0;
	padding: 0;
	-webkit-overflow-scrolling: touch;
	position: relative;
	.pink-top{
		width: 100%;
		position: fixed;
		top: 0;
		left: 0;
		height: 40px;
		background: $pink;
	}
	.about-intro{
		margin-top: 50px;
		width: 100%;
		margin-left: 0;
		position: relative;
		@include animation(dropdownsmall .5s ease);
		&.remove-anim{
			@include animation(dropupsmall 1s ease);
		}
		h1{
			font-weight: bold;
			letter-spacing: -5px;
			-webkit-font-smoothing: antialiased;
			font-size: 4em;
			line-height: 1;
			border: 5px solid black;
			text-align: center;
			padding: 5px;
			@include box-sizing(border-box);
			@media (max-width: $tab){
				font-size: 3em;
			}
			@media (max-width: $phone){
				font-size: 2em;
			}
		}
		h2{
			color: white;
		}

		.intro-text{
			width: 70%;
			margin-left: 15%;
			@media (min-width: $widescreen ){
				width: 50%;
				margin-left: 25%;
			}
			@media (max-width: $phone){
				width: 90%;
				margin-left: 5%;
				margin-top: 75px;
			}
			.thanks-container{
				width: 100%;
				text-align: center;
				margin: 0;
				h1.thanks{
					font-family: 'Maison', 'Inconsolata', 'Karla', 'Clan', Helvetica, sans-serif;
					font-weight: bold;
					line-height: 1;
					width: auto;
					font-size: 2.7em;
					letter-spacing: -1px;
					margin-bottom: 40px;
					margin-top: 10px;
					background: $pink;
					z-index: 1;
				}
			}
			
			h1{
				display: inline-block;
				width: 100%;
				margin: 0;
				margin-top: -4px;
				margin-bottom: 40px;
				position: relative;
				z-index: 1;
				font-size: 3.5em;
				@include box-sizing(border-box);
				@media (max-width: 1024px){
					font-size: 2.5em;
				}
				@media (max-width: $phone){
					font-size: 1.5em;
				}
				&.sticky{
					position: fixed;
					z-index: 2;
					@include transform(translate3d(0,0,0));
					width: 70%;
					left: 14.8%;
					background: $pink;
					top: 13px;
					@media (min-width: $widescreen){
						width: 50%;
						left: 24.8%;
					}
					@media (max-width: $phone){
						width: 90%;
						left: 5%;
						position: relative;
					}
				}
			}
			p{
				line-height: 1.7;
				letter-spacing: -1px;
				font-family: 'Maison', 'Inconsolata', 'Karla', 'Clan';
				font-weight: bold;
				color: black;
				-webkit-font-smoothing: antialiased;
				a{
					color: black;
					text-decoration: none;
					border-bottom: 5px solid white;
					&:hover{
						border-bottom: 5px solid black;
					}
				}
				@media (max-width: $phone){
					font-size: 0.9em;
				}
			}
			img{
				width: 100%;
				max-width: 100%;
				height: auto;
			}
		}
		
		.credits{
			margin-top: 40px;
			margin-bottom: 100px;
			width: 70%;
			margin-left: 15%;
			@media (min-width: $widescreen){
				width: 50%;
				margin-left: 25%;
			}
			@media (max-width: $phone){
				width: 90%;
				margin-left: 5%;
			}
			p{
				font-weight: lighter;
				-webkit-font-smoothing: antialiased;
				margin-bottom: 40px;
				font-style: italic;
				font-family: 'Maison', 'Inconsolata', 'Karla', 'Clan';
				strong{
					color: black;
					font-style: normal;
					span{
						font-weight: lighter;
					}
				}
			}
			img{
				max-width: 100%;
				width: 100%;
				height: auto;
				margin: 0 0 50px 0;
			}
		}
	}
}