@include keyframes(dropdown){
	from{
		@include transform(translateY(-75px) translateZ(0));
	}
	to{
		@include transform(translateY(0) translateZ(0));
	}
}

@include keyframes(dropup){
	from{
		@include transform(translateY(0) translateZ(0));
	}
	to{
		@include transform(translateY(-55px) translateZ(0));
	}
}

@include keyframes(dropdownsmall){
	from{
		@include transform(translateY(-15px) translateZ(0));
	}
	to{
		@include transform(translateY(0) translateZ(0));
	}
}

@include keyframes(dropupsmall){
	from{
		@include transform(translateY(0) translateZ(0));
	}
	to{
		@include transform(translateY(-75px) translateZ(0));
	}
}




.about-section{
	width: 100%;
	height: 100%;
	overflow-y: scroll;
	position: absolute;
	background: $pink;
	.exit{
		width: 40px;
		height: 40px;
		top: 10px;
		left: 20px;
		z-index: 999;
		position: fixed;
		background: url(../images/close2.svg) no-repeat center center;
		background-size: contain;
		@include transition(all .3s linear);
		@include animation(dropdown .5s ease);
		&:hover{
			@include transform(scale(1.1));
		}
		&.remove-anim{
			@include animation(dropup .5s ease);
		}
	}
	.about-intro{
		margin-top: 50px;
		width: 70%;
		margin-left: 15%;
		position: relative;
		@include animation(dropdownsmall .5s ease);
		&.remove-anim{
			@include animation(dropupsmall 1s ease);
		}
		@media (min-width: $widescreen ){
			width: 50%;
			margin-left: 25%;
		}
		@media (max-width: $phone){
			width: 90%;
			margin-left: 5%;
			margin-top: 75px;
		}
		h1{
			font-weight: bold;
			letter-spacing: -2px;
			-webkit-font-smoothing: antialiased;
			font-size: 4em;
			line-height: 1;
			@media (min-width: $widescreen){
				font-size: 6em;
			}
			@media (max-width: $tab){
				font-size: 3em;
			}
			@media (max-width: $phone){
				font-size: 2em;
			}
		}
		h2{
			color: white;
		}
		p{
			line-height: 1.7;
			font-family: 'Maison', 'Inconsolata', 'Karla', 'Clan';
			font-weight: normal;
			-webkit-font-smoothing: antialiased;
			a{
				color: white;
			}
			@media (max-width: $phone){
				font-size: 0.9em;
			}

		}
		img{
			max-width: 100%;
			width: 100%;
			height: auto;
			margin: 0;
			margin-top: 30px;
			margin-bottom: 40px;
		}
		.credits{
			margin-top: 40px;
			margin-bottom: 100px;
			p{
				font-weight: lighter;
				-webkit-font-smoothing: antialiased;
				margin-bottom: 40px;
				font-style: italic;
				strong{
					color: black;
					font-style: normal;
					span{
						font-weight: lighter;
					}
				}
			}
		}
	}
}