$skyblue: rgba(171,210,249,1);
$skybluedark: rgba(132,171,204, 1);
$green: #00ff3c;
$pink: rgba(255,70,172, 1);
$pinktrans: rgba(255,70,172, 0.7);
$gray: #2e2e2e;
$medgray: #4d4d4d;
$darkgray: #333333;
$whitetrans: rgba(255,255,255,0.5);
$black: rgba(40,40,37, 1);