@import url(http://fonts.googleapis.com/css?family=Karla:400,400italic,700,700italic);
@import url(http://fonts.googleapis.com/css?family=Inconsolata:400,700);


@font-face {
    font-family: 'clan';
    src: url('../fonts/clanpro-narrultra-webfont.eot');
    src: url('../fonts/clanpro-narrultra-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/clanpro-narrultra-webfont.woff2') format('woff2'),
         url('../fonts/clanpro-narrultra-webfont.woff') format('woff'),
         url('../fonts/clanpro-narrultra-webfont.ttf') format('truetype'),
         url('../fonts/clanpro-narrultra-webfont.svg#clan_pronarrow_ultra') format('svg');
    font-weight: bold;
    font-style: normal;

}


/* Webfont: ClanPro-News */
@font-face {
    font-family: 'clan';
    src: url('../fonts/ClanPro-News.eot'); /* IE9 Compat Modes */
    src: url('../fonts/ClanPro-News.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/ClanPro-News.woff') format('woff'), /* Modern Browsers */
         url('../fonts/ClanPro-News.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/ClanPro-News.svg#ClanPro-News') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

/* Webfont: MaisonNeue-Medium */@font-face {
    font-family: 'Maison';
    src: url('../fonts/MaisonNeue-Medium.eot'); /* IE9 Compat Modes */
    src: url('../fonts/MaisonNeue-Medium.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/MaisonNeue-Medium.woff') format('woff'), /* Modern Browsers */
         url('../fonts/MaisonNeue-Medium.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/MaisonNeue-Medium.svg#MaisonNeue-Medium') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}






