@import url(http://fonts.googleapis.com/css?family=Karla:400,400italic,700,700italic);


@font-face {
    font-family: 'clan';
    src: url('../fonts/clanpro-narrultra-webfont.eot');
    src: url('../fonts/clanpro-narrultra-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/clanpro-narrultra-webfont.woff2') format('woff2'),
         url('../fonts/clanpro-narrultra-webfont.woff') format('woff'),
         url('../fonts/clanpro-narrultra-webfont.ttf') format('truetype'),
         url('../fonts/clanpro-narrultra-webfont.svg#clan_pronarrow_ultra') format('svg');
    font-weight: bold;
    font-style: normal;

}