@import url(http://fonts.googleapis.com/css?family=Karla:400,400italic,700,700italic);


@font-face {
    font-family: 'clan';
    src: url('../fonts/clanpro-narrultra-webfont.eot');
    src: url('../fonts/clanpro-narrultra-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/clanpro-narrultra-webfont.woff2') format('woff2'),
         url('../fonts/clanpro-narrultra-webfont.woff') format('woff'),
         url('../fonts/clanpro-narrultra-webfont.ttf') format('truetype'),
         url('../fonts/clanpro-narrultra-webfont.svg#clan_pronarrow_ultra') format('svg');
    font-weight: bold;
    font-style: normal;

}

/* Webfont: Daniel */@font-face {
    font-family: 'Daniel';
    src: url('../fonts/Daniel.eot'); /* IE9 Compat Modes */
    src: url('../fonts/Daniel.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/Daniel.woff') format('woff'), /* Modern Browsers */
         url('../fonts/Daniel.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/Daniel.svg#Daniel') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}




@font-face {
    font-family: 'Daniel';
    src: url('../fonts/Daniel-Regular.eot'); /* IE9 Compat Modes */
    src: url('../fonts/Daniel-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/Daniel-Regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/Daniel-Regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/Daniel-Regular.svg#Daniel-Regular') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: bold;
    text-rendering: optimizeLegibility;
}
