@-webkit-keyframes spin{
  0%{-webkit-transform:rotate(0deg);}
  100%{-webkit-transform:rotate(360deg);}
}

@keyframes spin{
  0%{transform:rotate(0deg);}
  100%{transform:rotate(360deg);}
}


.main-frame{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
  background-size: contain;
	overflow: hidden;
  z-index: 3;
  @media (max-width: $tab){
    display: none;
  }

  .modal{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99999999;
    @include display(flex);
    @include flex-direction(column);
    @include justify-content(center);
    @include align-items(center);
    .modal-pop{
      border-radius: 10px;
      @include display(flex);
      @include flex-direction(column);
      @include justify-content(center);
      @include align-items(center);
      color: white;
      text-align: center;
      background-color: rgba(0,0,0,0.6);
      width: 80%;
      height: 80%;

      h2{
        text-decoration: underline;
        font-family: 'Clan', arial, sans-serif;
        -webkit-font-smoothing: antialiased;
      }
    }
  }


  .background{
    position: absolute;
    width: 50%;
    height: 470px;
    top: -250px;
    left: 25%;
    overflow: hidden;
    text-align: center;
    z-index: 1;
    @include transition(transform .2s linear);
    &.ui-state-highlight{
      @include transform(scale(1.05));
    }
    .drop-area{
      position: absolute;
      bottom: 0;
      left: 40%;
      width: 20%;
      height: 100%;
      background-color: transparent;
      z-index: 2;
      &:after{
          width: 200%;
          left: -50%;
          height: 5px;
          border-radius: 10px;
          background: $green;
          background-size: 100%;
          content: '';
          display: block;
          position: absolute;
          bottom: 0;
        }
      &:hover{

      }
    }
    .button-area{
      position: absolute;
      bottom: 0;
      left: 0;
      width: 25%;
      height: 25%;
      background: transparent;
      z-index: 3;
    }
    .discman{
      @include user-select(none !important);
    }
    img{
      @include user-select(none !important);
      max-height: 100%;
      width: auto;
    }
    z-index: 6;
  }


  .download-image{
    width: 25%;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
    img{
      max-width: 100%;
    }
  }

  .download-singles{
    width: 25%;
    height: auto;
    position: absolute;
    bottom: 0;
    right: 0;
    img{
      max-width: 100%;
    }
  }

  .grid{
    position: relative;
    top: 0;
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    z-index: 3;
    left: 0;
    overflow: hidden;
  }

  ul{
    list-style: none;
    font-size: 0px;
    width: 3000px;
    height:50%;
    position: absolute;
    top: 50%;
    left: 10%;
    @include transform(translate3d(0,0,0));
    // @include transform(translate3d(0,-60%,0));

    li{
      display: inline-block;
      padding: 10px;
      margin-right: 275px;
      // background: black;
      font-size: 16px;
      width: 275px;
      height: 275px;
      font-size: 1rem;
      vertical-align: top;
      box-sizing: border-box;
      position: relative;
      color: white;
      &.ui-draggable-dragging{
        .flip-container{
          .flipper{
            .front{
              background-color: rgba(255,255,255,0) !important;
            }
          }
        }
      }
      &.full-album{
         
         &:hover{
          .download-text{
            opacity: 1;
            
          }
         }
        img{
          width: 100%;
          box-shadow: 5px 5px 5px black;
        }
        .download-text{
          @include transition(all .2s linear);
          @include display(flex);
          position: absolute;
          opacity: 0;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background: rgba(0,0,0,0.6);
          border-radius: 2px;
          color: white;
          @include flex-direction(column);
          @include justify-content(center);
          @include align-items(center);
          h3{
            display: block;
            font-size: 2em;
            margin: 0;
          }
        }
      }
      .flip-container{
        @include perspective(1000);
        width: 100%;
        height: 100%;
        position: relative;
        @include transition(transform .2s linear);
        &:hover{
          @include transform(scale(1.05) rotate(-5deg));
          cursor: none;
        }
        //add active class on click to trigger flip
        &.js--active, .flip-container.active{
          .flipper{
            @include transform(rotateY(180deg));
          }
        }
        &.now-playing{
          i.play-control{
            display: none;
          }
        }
        &.now-paused{
          i.pause-control{
            display: none;
          }
        }
        .flipper{
          @include transition(transform 0.2s linear);
          @include transform-style(preserve-3d);
          position: relative;
          width: 100%;
          height: 100%;

        }
        .cd-spin{
          width: 100%;
          height: 100%;
          z-index: 0;
          position: absolute;
          top: 0;
          left: 0;
          img{
            max-width: 100%;
          }
          &.js--active{
            @include transform(translateY(-1500px));
            img{
              @include animation(spin 1s linear);
              @include animation-iteration-count(infinite);

            }
          }
        }
        .front{
          box-sizing: border-box;
          background-size: contain;
          width: 100%;
          height: 100%;
          backface-visibility: hidden;
          box-shadow: 1px 1px 5px black;
          position: absolute;
          border-radius: 10px;
          color: white;
          top: 0;
          left: 0;
          z-index: 1;
        }
        .front{
          z-index: 3;
          text-transform: uppercase;
          text-align: center;
          .text-container{
            position: absolute;
            @include display(flex);
            @include flex-direction(column);
            @include justify-content(center);
            align-items: center;
            bottom: 0;
            left: 0;
            width: 100%;
            min-height: 100%;
            background-color: rgba(255,255,255,0.5);
            border-radius: 3px;
            @include user-select(none);
            a{
              i{
                color: black;
                font-size: 2em;
              }
            }
            h3{
              font-size: 1.25em;
              line-height: 0.9;
              color: black;
              left: 0;
              width: 90%;
              height: auto;
              padding: 0;
              border-radius: 5px;
              text-transform: none;
              font-family: 'Daniel', 'Clan', arial, sans-serif;
              i{
                font-size: 1.5em;
                margin: 0;
              }
            }
          }
        }
      }
    }
  }
}