@-webkit-keyframes spin{
  0%{-webkit-transform:rotate(0deg);}
  100%{-webkit-transform:rotate(360deg);}
}

@keyframes spin{
  0%{transform:rotate(0deg);}
  100%{transform:rotate(360deg);}
}


.main-frame{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
  background-size: contain;
	overflow: hidden;
  z-index: 3;
  @media (max-width: $tab){
    display: none;
  }



  .background{
    position: absolute;
    width: 100%;
    height: 420px;
    bottom: -250px;
    left: 0;
    text-align: center;
    z-index: 1;
    img{
      max-width: 100%;
    }
    z-index: 6;
  }

   .background-spin{
    position: absolute;
    width: 100%;
    height: 420px;
    bottom: -376px;
    left: 1px;
    text-align: center;
    z-index: 2;
    img{
      max-width: 5% !important;
    }
    z-index: 7;
  }

  .download-image{
    width: 25%;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
    img{
      max-width: 100%;
    }
  }

  .download-singles{
    width: 25%;
    height: auto;
    position: absolute;
    bottom: 0;
    right: 0;
    img{
      max-width: 100%;
    }
  }

  .grid{
    position: relative;
    top: 0;
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    z-index: 3;
    left: 0;
    overflow: hidden;
  }

  ul{
    list-style: none;
    font-size: 0px;
    width: 3000px;
    height:50%;
    position: absolute;
    top: 50%;
    @include transform(translate3d(0,-60%,0));

    li{
      display: inline-block;
      padding: 10px;
      margin-right: 275px;
      // background: black;
      font-size: 16px;
      width: 275px;
      height: 275px;
      font-size: 1rem;
      vertical-align: top;
      box-sizing: border-box;
      color: white;
      &:first-child{
        margin-left: 3.3333333%;
      }
      &.full-album{
         @include transition(transform .2s linear);
        img{
          max-width: 100%;
          width: 100%;
          box-shadow: 5px 5px 5px black;

          @include animation(shake 1s linear);
          @include animation-iteration-count(infinite);
        }
        &:hover{
          @include transform(scale(1.05));
        }
      }
      .flip-container{
        @include perspective(1000);
        width: 100%;
        height: 100%;
        position: relative;
        @include transition(transform .2s linear);
        &:hover{
          @include transform(scale(1.05));
        }
        //add active class on click to trigger flip
        &.js--active, .flip-container.active{
          .flipper{
            @include transform(rotateY(180deg));
          }
        }
        &.now-playing{
          i.play-control{
            display: none;
          }
        }
        &.now-paused{
          i.pause-control{
            display: none;
          }
        }
        .flipper{
          @include transition(transform 0.2s linear);
          @include transform-style(preserve-3d);
          position: relative;
          width: 100%;
          height: 100%;

        }
        .cd-spin{
          width: 100%;
          height: 100%;
          z-index: -1;
          position: absolute;
          top: 0;
          left: 0;
          @include transition(all 2s linear);
          img{
            max-width: 100%;
          }
          &.js--active{
            @include transform(translateY(1500px));
            img{
              @include animation(spin 1s linear);
              @include animation-iteration-count(infinite);

            }
          }
        }
        .front, .back{
          box-sizing: border-box;
          background-size: contain;
          width: 100%;
          height: 100%;
          backface-visibility: hidden;
          position: absolute;
          border-radius: 10px;
          color: white;
          top: 0;
          left: 0;
          z-index: 1;
        }
        .front{
          z-index: 3;
          text-transform: uppercase;
          @include transform(rotateY(0deg));
          text-align: center;
          .text-container{
            position: absolute;
            @include display(flex);
            @include flex-direction(column);
            @include justify-content(center);
            align-items: center;
            bottom: 0;
            left: 0;
            width: 100%;
            min-height: 100%;
            background-color: rgba(255,255,255,0.5);
            border-radius: 3px;
            h3{
              font-size: 1.25em;
              line-height: 0.9;
              color: black;
              left: 0;
              width: 90%;
              height: auto;
              padding: 0;
              border-radius: 5px;
              text-transform: none;
              font-family: 'Daniel', 'Clan', arial, sans-serif;
              i{
                font-size: 1.5em;
                margin: 0;
              }
            }
          }
        }
        .back{
          width: 100%;
          height: 100%;
          padding: 10px;
          z-index: 2;
          color: black;
          @include transform(rotateY(180deg));
          text-align: center;
          background-color: rgba(255,255,255,0.5);
          border-radius: 3px;
           .progress-bar-background{
            width: 90%;
            height: 8px;
            display: inline-block;
            background-color: transparent;
            border: 1px solid white;
            z-index: 2;
            position: absolute;
            bottom: 10px;
            left: 5%;
          }
          .progress-bar-interior{
            display: inline-block;
            width: 100%;
            width: 0;
            height: 8px;
            background-color: white;
            border: 1px solid white;
            z-index: 1;
            position: absolute;
            bottom: 10px;
            left: 5%;
          }
          a{
            color: black;
            text-decoration: none;
          }
          p{
            font-size: 1em;
            font-family: 'Daniel', 'Karla', arial, sans-serif;
            font-weight: bold;
          }
          i{
            font-size: 2em;
            margin: 5px;
            display: inline-block;
            margin-top: 20px;
          }
        }
      }
    }
  }
}