.mobile-frame{
	display: none;
	@media (max-width: $tab){
		display: block;
		-webkit-overflow-scrolling: touch;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		overflow-y: scroll;
		overflow-x: hidden;
		min-height: 100%;
		background-size: cover;
		.mobile-grid{
			position: absolute;
			width: 100%;
			height: 100%;
			top: 20%;
			@include display(flex);
			@include transform(translateZ(0));
			@include flex-direction(column);
			@include align-items(center);
			@include justify-content(center);
			@include transform(rotate(2.5deg));
			
			iframe, object, embed{
				display: block;
				width: 60% !important;
				height: 150% !important;
				box-shadow: 5px 5px 5px black;
				margin-bottom: 100px;
				@include animation(rotate 50s infinite);
				@include animation-timing-function(linear);
			}
		}
	}
}