.mobile-frame{
	display: none;
	@media (max-width: $tab){
		display: block;
		-webkit-overflow-scrolling: touch;
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		overflow: hidden;
		min-height: 100%;
		background: url(../images/grid.jpg) no-repeat center center;
		background-size: cover;
		.mobile-grid{
			position: absolute;
			width: 100%;
			height: 100%;
			top: 20%;
			@include display(flex);
			@include transform(translateZ(0));
			@include flex-direction(column);
			@include align-items(center);
			@include justify-content(center);
			iframe, object, embed{
				display: block;
				width: 60% !important;
				height: 150% !important;
				box-shadow: 5px 5px 5px black;
				margin-bottom: 100px;
				@include animation(rotate 50s infinite);
				@include animation-timing-function(linear);
				@include animation-direction(alternate-reverse);
				@include smallboxy();
			}
		}

	}
	.mobile-title{
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		background: $pink;
		height: auto;
		img{
			width: 40px;
			height: auto;
			top: 10px;
			left: 10px;
			position: relative;
		}
		h1{
			margin-left: 10px;
			color: white;
			letter-spacing: -1px;
			display: block;
			font-size: 1.2em;
			line-height: 1;
			margin-bottom: 0;
			-webkit-font-smoothing: antialiased;
		}
		
		p{
			display: block;
			color: white;
			font-size: 0.7em;
			font-family: 'Clan';
			font-weight: normal;
			-webkit-font-smoothing: antialiased;
			margin-left: 10px;
			margin-top: 0;
		}
	}
	
	#tridiv-sc {
	    perspective: 800px;
	    position: absolute;
	    overflow: hidden;
	    width: 100%;
	    height: 100%;
	    background: transparent;
	    font-size: 100%;
	  
	  .face {
	    box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.4);
	  }
	  .scene, .shape, .face, .face-wrapper, .cr {
	    position: absolute;
	    transform-style: preserve-3d;
	  }
	  .scene {
	    width: 80em;
	    height: 80em;
	    top: 50%;
	    left: 50%;
	    margin: -40em 0 0 -40em;
	    // @include animation(rotate 20s linear infinite);
	  }
	  .shape {
	    top: 50%;
	    left: 50%;
	    width: 0;
	    height: 0;
	    transform-origin: 50%;
	  }
	  .face, .face-wrapper {
	    overflow: hidden;
	    transform-origin: 0 0;
	    backface-visibility: hidden;
	    /* hidden by default, prevent blinking and other weird rendering glitchs */
	  }
	  .face {
	    background-size: 100% 100%!important;
	    background-position: center;
	  }
	  .face-wrapper .face {
	    left: 100%;
	    width: 100%;
	    height: 100%
	  }
	  .photon-shader {
	    position: absolute;
	    left: 0;
	    top: 0;
	    width: 100%;
	    height: 100%;
	    
	    iframe, object, embed{
	    	width: 96%;
	    	margin: 5% 2%;
	    	height: 90% !important;
	    }
	  }
	  .side {
	    left: 50%;
	  }
	  .cr, .cr .side {
	    height: 100%;
	  }
	  [class*="cuboid"] .ft, [class*="cuboid"] .bk {
	    width: 100%;
	    height: 100%;
	  }
	  [class*="cuboid"] .bk {
	    left: 100%;
	  }
	  [class*="cuboid"] .rt {
	    transform: rotateY(-90deg) translateX(-50%);
	  }
	  [class*="cuboid"] .lt {
	    transform: rotateY(90deg) translateX(-50%);
	  }
	  [class*="cuboid"] .tp {
	    transform: rotateX(90deg) translateY(-50%);
	  }
	  [class*="cuboid"] .bm {
	    transform: rotateX(-90deg) translateY(-50%);
	  }
	  [class*="cuboid"] .lt {
	    left: 100%;
	  }
	  [class*="cuboid"] .bm {
	    top: 100%;
	  }
	  /* .cub-1 styles */
	  .cub-1 {
	    transform:translate3D(0em, 0em, 0em) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
	    opacity:1;
	    width:16em;
	    height:26em;
	    margin:-13em 0 0 -8em;
	    border-radius: 50px;
	    @media(max-width: $phone){
	    	width: 12em;
	    	height: 22em;
	    	margin: -11em 0 0 -6em;
	    }
	  }
	  .cub-1 .ft {
	    transform:translateZ(0.5625em);
	    background: $pink;
	    
	  }
	  .cub-1 .bk {
	    transform:translateZ(-0.5625em) rotateY(180deg);
	    background:url(https://s3.amazonaws.com/various-assets-web/va-front.jpg);
	    background-size: contain;

	  }
	  .cub-1 .rt, .cub-1 .lt {
	    width:1.25em;
	    height:26em;
	    background: $pink;
	    @media(max-width: $phone){
	    	height: 22em;
	    }
	  }
	  .cub-1 .tp, .cub-1 .bm {
	    width:16em;
	    height:1.25em;
	    background: $pink;
	    @media(max-width: $phone){
	    	width: 12em;
	    }
	  }
	  .cub-1 .face {
	    background-color:#FFFFFF;
	    background: url(../images/brushed-metal.jpg) no-repeat center center;
	    background-size: contain;
	  }
	}
}