@include keyframes(fade){
	from{
		opacity: 1;
	}
	to{
		opacity: 0
	}
}


.fb-like{
  z-index: 999;
  position: fixed !important;
  top: 15px;
  right: 20px;
  width: 127px;
  height:32px;
  @media (max-width: $phone){
    top: 5px;
  }
}

.twitter-share-button{
  z-index: 9999;
  position: fixed !important;
  top: 15px;
  right: 132px;
  height: 32px;
  width: 32px;
  @media (max-width: $phone){
    top: 7px;
  }
}


.logo{
    position: fixed;
    top: 0;
    left: 0;
    width: 150px;
    height: auto;
    background: $pink;
    color:white;
    z-index: 4;
    text-align: center;
    @include display(flex);
    @include flex-direction(column);
    -webkit-font-smoothing: antialiased;
    @include align-items(center);
    @media (max-width: $tab){
      width: 100px;
      top: 0;
    }
    img{
      position: relative;
      max-width: 80%;
      width: 80%;
      height: auto;
      margin: 0;
    }
    h1{
      max-width: 90%;
      margin: 0;
      font-size: 2em;
      letter-spacing: -1px;
      line-height: 1;
      @media (max-width: $tab){
        font-size: 1em;
      }
    }
    h2{
      letter-spacing: -1px;
      width: 90%;
      margin-bottom: 40px;
      font-weight: normal;
      font-family: 'Inconsolata';
      @include transition(transform .2s linear);
      a{
        color: white;
        text-decoration: none;
      }
      &:hover{
        @include transform(scale(1.05));
      }
    }
    h3{
      font-weight: normal;
      width: 70%;
      font-size: 0.7em;
      letter-spacing: -0.5px;
      @media (max-width: $tab){
        font-size: 0.6em;
      }
    }
    .button-group{
      box-sizing: border-box;
      margin: 0;
      margin-bottom: 40px;
      .button{
        background-color: white;
        color: white;
        width: 35px;
        height: 35px;
        line-height: 35px;
        display: inline-block;
        @include smallboxy();
        @include transition(all .1s linear);
        &:active, &:hover{
          @include vendorize(transform, translate(3px,3px));
          @include vendorize(box-shadow, none);
        }
        a{
          color: black;
        }
  	}
	}
}