@include keyframes(fade){
	from{
		opacity: 1;
	}
	to{
		opacity: 0
	}
}



.logo{
    position: fixed;
    top: 0;
    left: 0;
    width: 150px;
    height: auto;
    background: $pink;
    color: white;
    z-index: 99;
    text-align: center;
    @include display(flex);
    @include flex-direction(column);
    @include align-items(center);
    img{
      position: relative;
      max-width: 100%;
      margin: 0;
    }
    h1{
      margin: 0;
      letter-spacing: -1px;
      line-height: 1;
    }
    h3{
      font-weight: normal;
      width: 70%;
      font-size: 0.8em;
      letter-spacing: -0.5px;
      margin-bottom: 40px;
    }
    .button-group{
      box-sizing: border-box;
      margin: 0;
      margin-bottom: 40px;
      .button{
        background-color: white;
        color: white;
        width: 35px;
        height: 35px;
        line-height: 35px;
        display: inline-block;
        @include smallboxy();
        @include transition(all .1s linear);
        &:active, &:hover{
          @include vendorize(transform, translate(3px,3px));
          @include vendorize(box-shadow, none);
        }
        a{
          color: black;
        }
  	}
	}
}