
.splash-container{
	position: absolute;
	overflow: hidden;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	color: white;
	text-align: center;
  	.instructions{
  		position: fixed;
  		bottom: 40px;
  		left: 0;
  		width: 100%;
  		text-align: center;
  		opacity: 1;
  		h1{
  			text-transform: uppercase;
  			font-size: 1em;
        color: white;
        display: inline-block;
        line-height: 1.5;
        margin: 10px;
        a{
          text-decoration: none;
          @include animation(fade 1s linear infinite);
          @include animation-direction(alternate-reverse);
          color: white;
        }
        &.continue{
          background: white;
          color: black;
          padding: 5px 10px;
          @include smallboxy();
          @include transition(transform .2s linear);
          &:active{
            @include transform(translate(3px,3px));
            box-shadow: none;
          }
        }
  		}
  	}
}