<div id="tridiv">
    
    <div class="scene" style="-webkit-transform:rotateX(0deg) rotateY(721deg); -moz-transform:rotateX(0deg) rotateY(721deg); -ms-transform:rotateX(0deg) rotateY(721deg); transform:rotateX(0deg) rotateY(721deg);">
      <a href="http://d367es67s6ljrx.cloudfront.net/RBMA-Various-Assets-Tokyo.zip" download>
      <div class="shape cuboid-1 cub-1">
        <div class="face ft">
          <div class="photon-shader" style="background-color: rgba(255, 255, 255, 0.054902);"></div>
        </div>

        <div class="face bk">
          <div class="photon-shader" style="background-color: rgba(255, 255, 255, 0.054902);"></div>
        </div>
        <div class="face rt">
          <div class="photon-shader" style="background-color: rgba(255, 255, 255, 0.054902);"></div>
        </div>

        <div class="face lt">
          <div class="photon-shader" style="background-color: rgba(255, 255, 255, 0.054902);"></div>
        </div>

        <div class="face bm">
          <div class="photon-shader" style="background-color: rgba(255, 255, 255, 0.054902);"></div>
        </div>

        <div class="face tp">
          <div class="photon-shader" style="background-color: rgba(255, 255, 255, 0.054902);"></div>
        </div>
      </div>
    </a>
    </div>
  </div>