<div class="splash-container">
	<section class="splash-text-container">
		<h1>Various Assets 2015</h1>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam malesuada laoreet enim. Quisque eget ante ut massa pellentesque tempus et id mauris. Nullam rhoncus sodales lorem, in sodales odio molestie non. Etiam tincidunt metus lorem, et aliquet lorem dictum non. In condimentum rutrum risus ut interdum. Cras eleifend aliquam tortor, sit amet efficitur nisi eleifend sit amet. Mauris non ornare metus.</p>
		<button ng-click="slide()">Button</button>
	</section>
</div>