<section class="about-section">
	<div class="exit" ng-click="goto()"></div>
	<div class="about-intro">

		<h1>どうもありがとうございます</h1>
		<img src="images/tokyo.jpg" alt="Tokyo skyline" />
		<p>In 2014, Red Bull Music Academy came to Tokyo, Japan. To hold an Academy in this country 
			— the birthplace of so much influential music-making technology, and so many inspiring evocations of what the future should sound like — felt like joining the dots in more ways than one. But then, things do tend to come full circle, no matter what DAW you’re using. And the links tend
			to get made no matter whether you’re lost in the loop on an SP1200, or joining <a href="http://www.redbullmusicacademy.com/people/mathew-jonson" target="self">Mathew Jonson</a>
			— one of the RBMA’s studio mentors — in the amphitheatre-shaped arrangement of analogue machines that we dubbed “The Circle of Trust.”</p>

			<p> At each edition of the Academy, a jaw-dropping array of musical legends join us to share their stories and sounds in the lecture hall. In Japan’s capital, those lecturers took us back to the source. <a href="http://www.redbullmusicacademy.com/magazine/ryoji-ikeda-film" target="self">Ryoji Ikeda</a> took us through his ethereal arrangements of primal white noise, reducing pure sine-waves to the tiniest blips. Meanwhile, Korg synth designer <a href="http://www.redbullmusicacademy.com/magazine/korg-2014-lecture" target="self">Hiroaki Nishijima</a> demonstrated unfiltered passion as he jammed on the MS-20, searching for the beauty in the circuits.</p>

			<p>We love connections. The spirals that connect eras and cross genre boundaries. Many of the influences and techniques of the Academy’s lecturers tend to reverberate in the art of the 60 up and coming music makers who join us each year as participants. These young artists are invited, after a lengthy selection process, <a href="http://rbma2014participants.com/" target="self">from more than 30 countries</a>. Gathered together, they hone skills, meet and share ideas with their peers from the opposite end of the globe.</p>

			<p>Our four-floor HQ in 2014 was <a href="http://www.redbullmusicacademy.com/magazine/academy-space-2014-film" target="self">refitted by architect Kengo Kuma</a>, using traditional Japanese materials, linking the heterogeneous, high-tech nature of the city with the simplicity and calm of the Japanese home. Indeed, the circular walk around the studio floor, ringed by engawa, was the best chance to actually miss who you had been looking for, while stumbling into new sonic adventures.</p>

			<p>The tracks available on this site, many of them collaborations, are just a sampler of the music created by participants at the 2014 edition of the Red Bull Music Academy over four weeks. Listen carefully, and you might hear ricocheting echoes of 4 AM ramen bowls and games of table tennis. To all of those who contributed their stories, questions, waveforms and refracted light patterns, we simply say: arigatou gozaimasu.</p>

		<img src="images/mickey.jpg" alt="Mickey de Grand IV" />
		
		<div class="credits">
			<p><strong>1.1. Omotesando <span>— Felix, Krizzli, Branko & Dre Skull</span></strong> written by Félix Dubois, Valentin Bersier, João Barbosa & Andrew Hershey. Produced by Felix, Krizzli, Branko, Dre Skull & Star Eyes. Instruments by Felix, Krizzli, Branko & Dre Skull.

			<strong>1.2. KYMA <span>— Blinky Bill & Parachute Pulse</span></strong> Written by Bill Sellanga & Ana Roman. Produced by Blinky Bill & Parachute Pulse. Instruments by Blinky Bill, Parachute Pulse & Dorian Concept.

			<strong>1.3. Stampede <span>— Deltatron, Nightfeelings, LAO, Lafawndah & Ekali</span></strong> Written by Paz Ferrand, Nicholas Weiss, Lauro Manuel Robles, Yasmine Dubois. Produced by Deltatron, Nightfeelings, LAO, Lafawndah & Ekali. Instruments by Deltatron, Lao, Nightfeelings & Lafawndah.

			<strong>1.4. Forever Breakfast <span>— rj & Bienoise</span></strong> Written by David Hofmann & Alberto Ricca. Produced by rj & Bienoise. Instruments by rj & Bienoise.

			<strong>1.5. Voyage <span>— Douchka & Parachute Pulse</span></strong> Written by Thomas Lucas, Ana Roman. Produced by Thomas Lucas. All instruments by Thomas Lucas.

			<strong>1.6. Fuji <span>— Deradoorian</span></strong> Written by Angel Deradoorian. Produced by Deradoorian. Instruments/Performances by Deradoorian & the two little birds at RBMA.

			<strong>1.7. The Bog Song <span>— Mimu Merz & Daniel Limaverde</span></strong> Written by Miriam Mone & Daniel Limaverde. Produced by Daniel Limaverde. Instruments by Daniel Limaverde.

			<strong>1.8. Female Receiver <span>— Wild L8 Unpluggers</span></strong> Written by Alejandro Paz, Alexandre Berly, Ollis Bergum, Marco Passarani & Alexia Taulé. Produced by Alejandro Paz, La Mverte, Olefunken & Marco Passarani. Synths by Alejandro Paz, La Mverte & Olefunken. Drums by Alejandro Paz, La Mverte & Marco Passarani. Additional production by Brigitte Laverne.

			<strong>1.9. RBMA Chop Up (Edit 1) <span>– Fred</span></strong> Written by Fred Gibson. Produced by Fred. Instruments by Fred.

			<strong>1.10. Edge <span>— Parachute Pulse, Never Sol & Ah! Kosmos</span></strong> Written by Ana Roman, Sara Vondraskova & Basak Günak. Produced by Parachute Pulse, Never Sol & Ah! Kosmos.

			<strong>1.11. Brap (Instrumental) <span>— Krizzli</span></strong> Written by Valentin Bersier. Instruments by Krizzli.

			<strong>1.12. One <span>— Deradoorian, Nightfeelings & Dorian Concept</span></strong> Written by Angel Deradoorian. Produced by Deradoorian, Nightfeelings. Instruments/Performances by Nightfeelings, Dorian Concept, Om’Mas Keith, Deradoorian & Never Sol.

			<strong>1.13. Kind of Aquarian <span>— Tollcrane & Ipek Gorgun</span></strong> Written by Talha Asim Wynne. Produced by Tollcrane. Instruments by Ipek Gorgun & Tollcrane.

			<strong>1.14. The Mayor’s Daughter <span>— Mickey de Grand IV</span></strong> Written by Ryan de Grandy. Produced by Mickey de Grand IV. All instruments by Mickey de Grand IV.

			<strong>1.15. Gundam Funk <span>— Amuro & Rei</span></strong> Written by Marco Passarani, Valerio Del Prete & Oliver Johnson. Produced by Marco Passarani & Valerio Del Prete. Synth and drums by Marco Passarani & Valerio Del Prete. Solo lead by Oliver Johnson. Additional vocals by Tomo Mizuno & Sheela Rahman.

			<strong>1.16. Kairos (Short Version) <span>— Ipek Gorgun</span></strong> Written by Sehnaz Ipek Gorgun. Produced by Ipek Gorgun. Instruments by Ipek Gorgun.

			<strong>1.17. Convict <span>— Ky Oh</span></strong> Written by Summer Disbray, Mark Maxwell & James Kelly. Produced by Summer Disbray, Mark Maxwell & WIFE. Instruments by Summer Disbray, Mark Maxwell & WIFE.
		</p>

		<img src="images/zebra.jpg" alt="Zebra Katz" />


		<p>
			<strong>2.1. On Me <span>— Ekali, Dorian Concept & Om’Mas Keith</span></strong> Written by Om’Mas Keith, Oliver Johnson & Nathan Shaw. Produced by Om’Mas Keith, Oliver Johnson & Ekali. Instruments by Dorian Concept & Ekali.

			<strong>2.2. Dumplings <span>— Valesuchi & Mark Maxwell</span></strong> Written by Valentina Montalvo & Mark Maxwell. Produced by Valesuchi & Mark Maxwell. Instruments by Valesuchi & Mark Maxwell. 

			<strong>2.3. Move <span>— Lewis Cancut & Blinky Bill</span></strong> Written by Lewis D Gittus & Bill Sellanga. Produced by Lewis Cancut. Instruments by Lewis Cancut.

			<strong>2.4. Tokyo Sunrise <span>— Arenov & Tollcrane</span></strong> Written by Arystan Arenov & Talha Asim Wynne. Produced by Arenov & Tollcrane. Instruments by Arenov & Tollcrane.

			<strong>2.5. Indecisio <span>— Summer Disbray & Branko</span></strong> Written by Summer Disbray & João Barbosa. Produced by Summer Disbray & Branko. Instruments by Branko.

			<strong>2.6. ? <span>— Nightfeelings, Torus, MMMOOONNNOOO, Ossie, Zebra Katz & Xosar</span></strong> Written by Nicholas Weiss, Joeri Woudstra, Daniel Neves, Osita Aneke, Ojay Morgan & Sheela Rahman. Arrangement by Nightfeelings, MMMOOONNNOOO, Torus & Zebra Katz. Produced by Nightfeelings, MMMOOONNNOOO, Torus & Zebra Katz. Instruments by Nightfeelings, MMMOOONNNOOO, Torus, Ossie & Xosar. Recorded by Nightfeelings, MMMOOONNNOOO, Torus, Zebra Katz, Ossie & Xosar. Hidden Vocals by Zebra Katz.

			<strong>2.7. Latenight Munchies <span>— Kadhja Bonet, rj & Mark Maxwell</span></strong> Written by Kadhja Bonet, David Hofmann & Mark Maxwell. Produced by rj & Mark Maxwell. Instruments by rj & Mark Maxwell.

			<strong>2.8. Tokyo, October 23rd 2014 (Part 1) <span>— Bosaina</span></strong> Written by Bosaina El Kahal. Produced by Bosaina. Instruments by Bosaina.

			<strong>2.9. Nobody <span>— L8tin Around</span></strong> Written by Alejandro Paz, Alexandre Berly, Marco Passarani & Valerio Del Prete. Produced by Alejandro Paz, La Mverte, Marco Passarani & Valerio Del Prete. Synths by Alejandro Paz, La Mverte & Marco Passarani. Drums by Marco Passarani & Alejandro Paz. Additional rhythmical sessions by Valerio Del Prete.

			<strong>2.10. GYROCYRE <span>— Xosar</span></strong> Written by Sheela Rahman. Produced by Xosar. Instruments by Xosar.

			<strong>2.11. I Need It So Much <span>— Tomo Jacob, sauce81 & Hiroaki OBA</span></strong> Written by Tomo Mizuno, Nobuyuki Suzuki & Hiroaki Oba. Produced by Tomo Jacob, sauce81 & Hiroaki OBA. Vocals by sauce81.

			<strong>2.12. Special Place <span>— Deltatron, Nightfeelings, Mickey de Grand IV & Lafawndah</span></strong> Written by Paz Ferrand, Nicholas Weiss, Ryan de Grandy & Yasmine Dubois. Produced by Deltatron, Nightfeelings, Mickey de Grand IV & Lafawndah.

			<strong>2.13. Cold Intuition <span>— Krizzli & WIFE</span></strong> Written by Valentin Bersier & James Kelly. Produced by Krizzli. Instruments by Krizzli & WIFE.

			<strong>2.14. Starlight <span>— Palms Trax, Mickey de Grand IV & Larry Gus</span></strong> Written by Jay Donaldson, Ryan de Grandy & Panagiotis Melidis. Produced by Palms Trax, Mickey de Grand IV & Larry Gus. Instruments by Palms Trax, Mickey de Grand IV & Larry Gus. Recorded by Palms Trax, Mickey de Grand IV & Larry Gus.

			<strong>2.15. Finally <span>— Boody</span></strong> Written by Haldan Blecher. Produced by Boody. Instruments by Boody.

			<strong>2.16. Tokyo Is Calling <span>— Haioka, Laura J Martin, Summer, Plasma Rüby, King Bruce, Cat500, Joe Wills & Ryu Kawashima</span></strong> Written by Shintaro Haioka. Produced by Haioka & Joe Wills. Flute by Laura J Martin. Vocals by Laura J Martin & Summer Disbray. Percussion by King Bruce. Piano and synth strings by Plasma Rüby. Synth by Cat500. Programming and mixing by Haioka.

			<strong>2.17. Bubble With <span>— Uio Loi</span></strong> Written by Kyle Yerhot. Produced by Uio Loi. Instruments by Uio Loi.

			<strong>2.18. Deprivation <span>— Christian Kroupa & dBridge</span></strong> Written by Darren White & Kristjan Kroupa. Produced by dBridge & Christian Kroupa. Instruments by dBridge & Christian Kroupa.


		</p>

		<img src="images/collage.jpg" />


		</div>
	</div>
</section>