<nav-stuff></nav-stuff>

<div class="main-frame" mousewheel>

  <!-- TO-DO: Add AWS download link -->

  <section class="background">
    <div class="discman">
      <img src="images/cdj.png" />
    </div>
  </section>
<!--   <section class="background-spin">
    <div class="disc-spin">
      <img src="images/cdj.gif" />
    </div>
  </section> -->

  <section class="grid" soundcloud-stuff>
    <div current-position duration=0></div>

    <ul class="list-wrapper" id="list-wrapper">

      <li class="song-list" ng-repeat="track in tracks" ng-if="!$last" >
        <div class="flip-container" click-flip>
          <div class="flipper">
            <div class="cd-spin">
              <img src="images/cd_logo.png" />
            </div>
            <div class="front" ng-click="playSong(track.id)" shift-element>
              <h1>{{$index + 1}}</h1>
              <h3>{{track.title}}</h3>
            </div>
            <div class="back">
              <i class="fa fa-pause pause-control" ng-show="globalSongPlaying" ng-click="pauseSong()"></i>
              <i class="fa fa-play play-control" ng-show="!globalSongPlaying" ng-click="resumeSong(track.id)"></i>
              <a ng-href="{{download(track.download_url)}}" download target="self">
                <i class="fa fa-cloud-download download-icon"></i>
              </a>
              <p>{{track.title}}</p>
              <p>
                <div class="progress-bar-background" ng-click="scrubAudio"></div>
                <div class="progress-bar-interior" data-position="{{curentPosition}}" advance-progress></div>
              </p>
            </div>
          </div>
        </div>
      </li>
      <!--diff condition on last-->
      <li class="song-list" ng-repeat="track in tracks" ng-if="$last" measure-list list-width="300" list-padding="300" index="{{$index}}">
        <div class="flip-container" click-flip>
          <div class="flipper">
            <div class="cd-spin">
              <img src="images/cd_logo.png" />
            </div>
            <div class="front" id="{{track.id}}" ng-click="playSong(track.id)" shift-element>
              <h1>{{$index + 1}}</h1>
              <h3>{{track.title}}</h3>
            </div>
            <div class="back">
              <i class="fa fa-pause pause-control" ng-show="globalSongPlaying" ng-click="pauseSong()"></i>
              <i class="fa fa-play play-control" ng-show="!globalSongPlaying" ng-click="resumeSong(track.id)"></i>
              <a ng-href="{{download(track.download_url)}}" download target="self">
                <i class="fa fa-cloud-download download-icon"></i>
              </a>
              <p>{{track.title}}</p>
              <p>
                <div class="progress-bar-background" ng-click="scrubAudio"></div>
                <div class="progress-bar-interior" data-position="{{curentPosition}}" advance-progress></div>
              </p>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </section>
</div>

