<div ng-include="'partials/_nav.html'"></div>

<div class="splash-container">
  <!--CD SPIN-->
  <div ng-include="'partials/_cd.html'"></div>
  <section class="instructions">
    <h1 class="continue" ng-click="goto('/player')">Continue to Site</h1>
  </section>

</div>


<div class="mobile-frame">
  <section class="mobile-grid">
    <iframe width="100%" height="450" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/69964527%3Fsecret_token%3Ds-pGXST&amp;color=0066cc&amp;auto_play=false&amp;hide_related=false&amp;show_comments=false&amp;show_user=false&amp;show_reposts=false"></iframe>
  </section>
</div>