<div class="splash-container">
  
  <div id="tridiv">
    
    <div class="scene" style="-webkit-transform:rotateX(0deg) rotateY(721deg); -moz-transform:rotateX(0deg) rotateY(721deg); -ms-transform:rotateX(0deg) rotateY(721deg); transform:rotateX(0deg) rotateY(721deg);">
      <a href="#" download>
      <div class="shape cuboid-1 cub-1">
        <div class="face ft">
          <div class="photon-shader" style="background-color: rgba(255, 255, 255, 0.054902);"></div>
        </div>

        <div class="face bk">
          <div class="photon-shader" style="background-color: rgba(255, 255, 255, 0.054902);"></div>
        </div>
        <div class="face rt">
          <div class="photon-shader" style="background-color: rgba(255, 255, 255, 0.054902);"></div>
        </div>

        <div class="face lt">
          <div class="photon-shader" style="background-color: rgba(255, 255, 255, 0.054902);"></div>
        </div>

        <div class="face bm">
          <div class="photon-shader" style="background-color: rgba(255, 255, 255, 0.054902);"></div>
        </div>

        <div class="face tp">
          <div class="photon-shader" style="background-color: rgba(255, 255, 255, 0.054902);"></div>
        </div>
      </div>
    </a>
    </div>
  </div>

  <section class="instructions">
    <h1 class="continue" ng-click="goto('/player')">Continue to Site</h1>
  </section>
</div>


<div class="mobile-frame">

  
  


  <section class="mobile-grid">
    <iframe width="100%" height="450" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/69964527%3Fsecret_token%3Ds-pGXST&amp;color=0066cc&amp;auto_play=false&amp;hide_related=false&amp;show_comments=false&amp;show_user=false&amp;show_reposts=false"></iframe>
  </section>
</div>