

<div class="loading-container" ng-if="!ready">
  <section class="loading-text-container">
    <h1 class="fa fa-circle-o-notch fa-spin"></h1>
  </section>
</div>


<div class="main-frame" mousewheel>
  <div ng-include="'partials/_nav.html'"></div>
   <div id="big-cursor" big-hand><img src="images/hand2.png" /></div>

  

  <section class="background" drop-zone>
    <div class="button-area" ng-click="playPauseSong()"></div>
    <!-- <div class="drop-area"></div> -->
    <div class="discman">
    	<!-- <div ng-include="'partials/_player.html'"></div> -->
      <img src="images/cdj.png" ng-show="!globalSongPlaying" draggable="false"/>
      <img src="images/cdj-play.png" ng-show="globalSongPlaying" draggable="false"/>
    </div>
    
  </section>


  <section class="grid" id="grid" soundcloud-stuff playlist='69964527' secret='s-pGXST'>
    <ul class="list-wrapper" id="list-wrapper">
      <!-- TO-DO: Add AWS download link -->
      <li class="full-album">
        <a href="#">
          <img ng-src="{{tracks.artwork}}" alt="Various Assets Artwork" draggable="false"/>
          <div class="download-text">
            <h3 class="download-text-title">DOWNLOAD ALL</h3>
            <h3 class="fa fa-cloud-download"></h3>
          </div>
        </a>
      </li>

      <li class="song-list" ng-repeat="track in tracks" measure-list list-width="255" list-padding="235" index="{{$index}}">
        <div class="flip-container">
          <!--pass in song id as id to drop zone-->
          <div class="flipper" draggable id="{{track.id}}">
            <div class="cd-spin">
              <img src="images/cd_logo.png" />
            </div>
            <div class="front">
              <div class="text-container">
                <h3 class="num-order">{{$index + 1}}</h3>
                <h3>{{track.title}}</h3>
              </div>
            </div>
          </div>
        </div>
      </li>
      <li class="continue">
        <h1>CONTINUE TO <br>
          <a href="http://www.redbullmusicacademy.com" target="self">redbullmusicacademy.com</a></h1>
      </li>
    </ul>
  </section>

  <div class="drag-instructions">
    <h3>– Drag a disc into the player –</h3>
  </div>

  <div class="current-song" ng-show="currentSong.title" current-song><a ng-href="{{currentSong.download}}" download>
    <h3>
      {{currentSong.title}}<span class="fa fa-cloud-download"></span>
    </h3></a>
  </div>


</div>





